<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.globalone.tsvweilheimapp"
    android:versionCode="101"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light"
            
             android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FullContentActivity"
            android:label="@string/app_name" 
             android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" 
             android:screenOrientation="portrait">

            <!--  -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeamsActivity"
            android:label="@string/title_activity_teams" 
             android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UebersichtActivity"
            android:label="@string/title_activity_uebersicht" 
             android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Test"
            android:label="@string/title_activity_uebersicht" 
             android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ParseXMLActivity"
            android:label="@string/title_activity_parse_xml"
             android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".XMLDemo"
            android:label="@string/title_activity_xmldemo" 
             android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".xmladapter.MainXML"
            android:label="@string/app_name"
             android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".viewswitcher.MainSwitcherActivity"
            android:label="@string/title_activity_main_switcher"
            android:theme="@style/AppTheme" 
             android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ImpressumActivity"
            android:label="@string/title_activity_impressum"
             android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OrganisationMenu"
            android:label="@string/title_activity_organisation_menu" 
             android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ShowOrgaActivity"
            android:label="@string/title_activity_show_orga" 
             android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
